[2019-12-17 21:50] haleyjohnso commented on #279
hey @gracecanfield and @justinvandenberg -- I'm going to close this ticket because it's a duplicate

[2019-12-17 21:56] mindywagner commented on #282
Just as an FYI to the client - the hit space is designed to be 40x40px, which is pretty standard for mobile.

[2019-12-17 22:01] jeremyfrank commented on #266
[According to this](https://wavesurfer-js.org/faq/) we have to load the entire file in order to draw the waveform. The `load()` method does have a [preload parameter](https://wavesurfer-js.org/docs/methods.html) with a `none` option, but it only works if you disable the peaks option with an empty array.

Soooooo, to fix this performance issue our options are:

1. Find a WP plugin that can generate

[2019-12-17 22:07] justinvandenberg commented on #202
@haleyjohnso care to check again on test please?

[2019-12-17 22:19] jeremyfrank commented on #243
Mindy, looks like Justin redid the carousel sliders and this doesn't apply anymore. Can you review and confirm?

[2019-12-17 22:20] haleyjohnso commented on #277
I tested this on desktop and mobile and the behavior is consistent--external links open in a new tab

[2019-12-17 22:20] #279 closed

[2019-12-18 04:18] haleyjohnso commented on #202
Padding and lines (lack thereof) look great!! Good to go

[2019-12-18 04:30] haleyjohnso commented on #287
@justinvandenberg I might not be understanding the purpose of the hashes. I realized I could append any hash that I wanted to the the end of the URL and it wouldn't change the page content. The hashes are for redirects, right?

[2019-12-18 13:31] gracecanfield commented on #287
@haleyjohnso Correct! See the [trello card linked in the original ticket description](https://trello.com/c/Vsf2br9Y) for details. NPM attached a screenshot of a redirect that wasn't working before - `/products/npr-podcasts/#15preroll`. The goal would be for them to be able to set that up as a redirect that points to that page's new URL on the new site - `/products/pre-roll`.

But, @justinvandenber

[2019-12-18 13:32] gracecanfield commented on #289
@mindywagner Could you weigh in on @jeremyfrank 's question [here](https://github.com/vigetlabs/npm/issues/289#issuecomment-566741326)?

[2019-12-18 14:02] gracecanfield commented on #266
@jeremyfrank Do we have any idea what LOE option 1 would entail? I think option 2 should be iceboxed because it'd be a whooole can of worms.

[2019-12-18 14:08] mindywagner commented on #243
The easing looks like it was taken care of, but wondering if we could quickly fade the one that disappears to the far left as it's disappearing - to help it look less abrupt

[2019-12-18 15:29] jeremyfrank commented on #266
IF it's even possible with WP, and IF it's achievable with their host Pantheon, I'd guesstimate medium to high LOE. Option 2 would be a lot less time honestly.

[2019-12-18 15:30] mindywagner commented on #289
@jeremyfrank can we just make the h5 12px (leaving everything else the same)? Then we should be good to go. Thanks!

[2019-12-18 15:30] jeremyfrank commented on #243
@justinvandenberg mind if I reassign this to you since you are familiar with the new carousel slider implementation?

[2019-12-18 15:36] #236 closed

[2019-12-18 15:36] #269 closed

[2019-12-18 16:53] jeremyfrank commented on #244
@mindywagner Which block is this? I don't see a carousel on this page.

[2019-12-18 16:54] jeremyfrank commented on #264
@gracecanfield Can you share a link to a page that has one?

[2019-12-18 16:57] jeremyfrank commented on #268
@mindywagner Can you re-test? I'm not seeing the page jump in Chrome, Safari or Firefox.

[2019-12-18 17:18] jeremyfrank commented on #237
@mindywagner Can you re-test? I can't replicate the issue.

[2019-12-18 17:19] gracecanfield commented on #266
Okay - in that case, i think we should icebox this for now, since this was an internal-only request. I'm going to move to our "potentially revisit later" milestone and close out.

[2019-12-18 17:19] #266 closed

[2019-12-18 17:25] jeremyfrank commented on #20
I think this might be a server thing or maybe .htaccess config on Pantheon. Docs say it should be enabled by default, but it isn't. https://pantheon.io/docs/guides/frontend-performance#gzip-compression Reassigning to @yaychris.

[2019-12-18 17:30] gracecanfield commented on #264
@jeremyfrank I think this actually just got fixed by Justin in another change he was working on this week! Closing out.

[2019-12-18 17:30] #264 closed

[2019-12-18 17:33] yaychris commented on #20
It's enabled and working.

![DevTools - www nationalpublicmedia com: 2019-12-18 12-33-05](https://user-images.githubusercontent.com/13268/71109139-9f504080-2192-11ea-8119-7be8e9b97d8d.png)

[2019-12-18 17:35] gracecanfield commented on #20
🎉

[2019-12-18 17:35] #20 closed

[2019-12-18 17:35] jeremyfrank commented on #266
Just to document it, the MP3s on that page represent an additional 6.3 MB of overall page weight.

[2019-12-18 17:37] mindywagner commented on #244
This is what I'm thinking of - not sure what to call it. Vertical tabs?

![Screen Shot 2019-12-18 at 12 36 39 PM](https://user-images.githubusercontent.com/67819/71109378-0e2d9980-2193-11ea-8d07-e2197a91d64e.png)

[2019-12-18 17:40] jeremyfrank commented on #244
LOE for that would be kind of high. I don't think that it would be worth the time. Thoughts?

[2019-12-18 17:42] mindywagner commented on #268
Just re-tested - I think what's happening is that it's jumping back and forth because the scroll bar disappears when the modal is launched. Probably not easily fixed, so maybe one we icebox for now.

Screencap:
https://drive.google.com/file/d/19VscV7X3TooTC3RTJBRs02C1WvTuDtaN/view?usp=sharing

[2019-12-18 17:43] mindywagner commented on #237
This must have been fixed last week. Closing out!

[2019-12-18 17:43] #237 closed

[2019-12-18 17:43] mindywagner commented on #244
Yeah, let's not worry about it then. Closing!

[2019-12-18 17:43] #244 closed

[2019-12-18 17:46] gracecanfield commented on #268
@jeremyfrank Feel free to close unless you can identify an easy fix.

[2019-12-18 18:02] haleyjohnso commented on #280
hey @justinvandenberg sorry I didn't catch your note yesterday until just now. When you say Featured Content blocks, do you mean the larger ones near the top of these pages? like this one:
<img width="1330" alt="Screen Shot 2019-12-18 at 11 01 35 AM" src="https://user-images.githubusercontent.com/57419582/71111070-d2d89e00-2185-11ea-95bd-02efdefa0686.png">

Beyond that, the requested images are cl

[2019-12-18 18:13] justinvandenberg commented on #284
@gracecanfield there are 2 options for this, either will need some data entry or reentry.

1.  Add a new full-size image field. This will maintain all the current audio and video thumbnails, but will need all the image thumbnails (assuming they want new ones) and modal images entered.
2. Keep the image field as the modal image and add a new thumbnail image field. This will keep all the modal image

[2019-12-18 18:34] justinvandenberg commented on #280
@haleyjohnso correct. There's a couple different instances of them across the site.

[2019-12-18 18:38] justinvandenberg commented on #243
@jeremyfrank yup!

[2019-12-18 18:46] jeremyfrank commented on #188
Can we retest this? The arrow shows for me.

[2019-12-18 19:35] jeremyfrank commented on #188
Also can we re-test this one? I didn't see any scrollbars.

[2019-12-18 20:13] mindywagner commented on #188
Both of these look like they've resolved to me, @jeremyfrank

[2019-12-18 20:40] haleyjohnso commented on #280
@gracecanfield did you have an opinion about making some of the larger images clickable? I think my only hesitation is how that translates on mobile or a tablet (where accidental click may make it annoying).

[2019-12-18 20:53] haleyjohnso commented on #283
I'm able to add the Related Products and Featured Content blocks to the example page, services/audio-visual-design/.
@justinvandenberg, did you add this to all pages? Just curious if I should test more.

[2019-12-18 21:00] haleyjohnso commented on #281
there is more padding on this page across several different browsers and operating systems.

[2019-12-18 21:39] justinvandenberg commented on #283
@haleyjohnso just that one template.

[2019-12-19 00:54] haleyjohnso commented on #283
Cool, then this is good to go!

[2019-12-19 00:58] haleyjohnso commented on #282
Good on android!

[2019-12-19 01:21] haleyjohnso commented on #287
Yeah, seconded what Grace said. I see that redirects are working, but maybe not as they are supposed to?

For example: https://www.nationalpublicmedia.com/products/npr-org/#nprplayer
aka
https://test-national-public-media-v2.pantheonsite.io/products/npr-org/#nprplayer

is supposed to redirect to (according to the redirect spreadsheet):

https://test-national-public-media-v2.pantheonsite.io/product

[2019-12-19 12:45] gracecanfield opened #298 "Mobile font sizes: Bump up anything under 16 px"
NPM forwarded an email from Google where they've flagged a mobile usability issue: "text too small to read."

Google recommends using a base font size of at least 16 pixels, so let's bump up anything smaller than that. (Likely culprits are source font & caption text.)

Once you've done this, can you flag what you've updated and reassign to @haleyjohnso for QA?

[2019-12-19 16:32] gracecanfield commented on #280
@haleyjohnso I think your point is a great one about accidental clicks on mobile. I'd vote for not making those larger images clickable, and sticking with our current implementation.

[2019-12-19 16:45] gracecanfield commented on #278
@justinvandenberg Moved this to ready for production, but it's fine to hold off until the rest of this week's changes are client-approved.

[2019-12-19 16:47] justinvandenberg commented on #287
@gracecanfield @haleyjohnso I misinterpreted the original ask. Right now, it's going to a filtered view instead of the product detail page which Haley pointed out. I think the code I have can still work, I just need to tweak some things.

[2019-12-19 18:19] justinvandenberg commented on #287
@haleyjohnso @gracecanfield is this working as expected now? If it is, i'll add support for multiple hashes  https://dev-national-public-media-v2.pantheonsite.io/products/#30midroll

[2019-12-19 18:37] jeremyfrank commented on #67
I can't seem to replicate the issue. Can you re-test?

[2019-12-19 18:45] justinvandenberg commented on #285
@haleyjohnso you can add the block to this page https://test-national-public-media-v2.pantheonsite.io/page-blocks/. Do you know which templates will eventually need the block? Maybe ⬅️ is a @gracecanfield question.

[2019-12-19 18:52] jeremyfrank commented on #147
**Audience:** I was not able to replicate this issue.
**Programs Index:** It is working but you have to get the keyboard shortcut right to get it to start reading. I had to look it up: VO+A (VO=ctrl+opt). https://www.apple.com/voiceover/info/guide/_1131.html
**Insights Index:** I didn't see any read more links w/o text.
**Report Detail:** The YouTube player is known to not be accessible unfortunat

[2019-12-19 19:24] gracecanfield commented on #284
@justinvandenberg I think option 1 seems like it'll require less re-entry, right? (having to re-enter only image content vs. all audio/video/image thumbnails? If so, let's do option 1.)

[2019-12-19 19:29] justinvandenberg commented on #284
@gracecanfield that's what I was thinking too!

[2019-12-19 19:30] #147 closed

[2019-12-19 19:47] gracecanfield commented on #67
@haleyjohnso Any chance you'd be able to re-test (this is lower priority than the other client requests in the queue).

[2019-12-19 19:53] gracecanfield commented on #285
@justinvandenberg Could you add this block to the following templates?
* [ ] Platform pages
* [ ] Sponsorship pages
* [ ] Audiences page
* [ ] Insights index

[2019-12-19 19:56] haleyjohnso commented on #287
hey @justinvandenberg can confirm that https://dev-national-public-media-v2.pantheonsite.io/products/#30midroll redirects as expected! Not seeing successful redirects yet for other URLs but I bet you need to add them

[2019-12-19 20:06] jeremyfrank commented on #233
You can do this with the enter key, but I noticed it doesn't have a focus state so I'm adding that.

Can you check this setting here? I couldn't tab to much either but it turns out this setting was turned off.
![image](https://user-images.githubusercontent.com/283397/71205696-ead91c00-2270-11ea-8cf8-db674f21296f.png)

[2019-12-19 20:06] gracecanfield commented on #287
@justinvandenberg Could you give a step by step list of exactly what NPM should do if they want to set up a new redirect that includes an anchor?

[2019-12-19 20:09] haleyjohnso commented on #243
looks so much smoother!

[2019-12-19 20:27] haleyjohnso commented on #285
I'm seeing the Image Gallery block on /page-blocks/ but not on all of the templates that Grace requested, so I'm guessing this is still in progress.

[2019-12-19 20:27] justinvandenberg commented on #285
@haleyjohnso correct. I have not added to the other templates yet.

[2019-12-19 20:48] haleyjohnso commented on #233
Setting is checked, so the Back to Top issue is not an issue.

Hm, I'm still not able to check that box by hitting Enter--I double-checked my Chrome settings too.

@gracecanfield is there anything else from this QA ticket that you wanted me to test?

[2019-12-19 21:00] jeremyfrank commented on #233
Try spacebar.

[2019-12-19 21:01] jeremyfrank commented on #233
I mistyped in my original comment. Checkboxes and radios are triggered via spacebar instead of the enter key.

[2019-12-19 21:10] haleyjohnso commented on #67
Unfortunately I'm not seeing the issue either

[2019-12-19 21:21] jeremyfrank commented on #233
Some of this will be qa-able after the next deploy, but I'll leave the issue in its current project board column.

[2019-12-19 21:34] justinvandenberg commented on #287
@gracecanfield they just have to add the appropriate hashes to the product it's supposed to redirect to. Below all 3 of those correspond to the mid-roll product. There's also some brief instructions above the field.
<img width="1260" alt="_NPM__SEO_Checklist__Metadata____Redirects_Worksheet_-_Google_Sheets" src="https://user-images.githubusercontent.com/8126358/71211463-6be1e480-226c-11ea-99f5-5bb

[2019-12-19 23:09] haleyjohnso commented on #284
Confirmed, I'm seeing the option to add either an image or a thumbnail

[2019-12-19 23:38] haleyjohnso commented on #287
I tried adding the hash 15postroll to the Postroll product page. Instead of the original URL redirecting to the /post-roll/ page, it redirected to https://test-national-public-media-v2.pantheonsite.io/products/?platforms=podcasts-audio,audio#15postroll

Am I misunderstanding how to test this?

Also, when I went to remove the postroll15 hash and update the page, I got this error message on the admi

[2019-12-19 23:47] justinvandenberg commented on #287
@haleyjohnso I removed one of their redirects and added the new one (must have come down in the db clone on one of the recent deploys). https://test-national-public-media-v2.pantheonsite.io/products/npr-podcasts/#postroll15 should work now (you may have to incognito it). I can make the hash field not required, unless we want them to set up a redirect for each?

[2019-12-20 00:13] haleyjohnso commented on #285
Confirmed! Image Gallery block is available at the following templates:
 Platform pages
 Sponsorship pages
 Audiences page
 Insights index

[2019-12-20 05:09] haleyjohnso commented on #287
@justinvandenberg Okay, that also works as expected.
Do we anticipate any of the other redirects will have issues? I don't want to have you keep fixing things that maybe they entered incorrectly.

I think I would make the has field not required, right? Not every page has a redirect, or does it?

[2019-12-20 15:46] gracecanfield commented on #276
@justinvandenberg Is there an easy way to make this so that the tab also changes when the user navigates back?

[2019-12-20 16:03] justinvandenberg commented on #287
@haleyjohnso I'll just have to make a note that we have to check their redirects after (maybe before because they're not working correctly now) the prod push. I'm not sure if every product is accounted for, but I just thought of new ones. I should definitely make that not required.

[2019-12-20 16:40] haleyjohnso commented on #285
Tested component on sponsorship page on (without issues):

- MacOS: Chrome, Safari, Firefox

- iPhone 8: Safari (Note: make sure finger swiping works on other devices)

[2019-12-20 17:01] gracecanfield commented on #284
**OPEN TASKS:**

**Today, ASAP:**
* [ ] @justinvandenberg to separate out front-end functionality into its own branch, but deploy the new image field changes (WP only) to staging for QA
* [ ] After ☝️ is complete, Grace or @haleyjohnso to QA after that is done (depending on who has time first)

**Next Week:**
* [ ] @haleyjohnso to coordinate with Justin next week to get the front-end functionality

[2019-12-20 17:12] gracecanfield commented on #285
Recapping open implementation & QA items:
* [ ] @justinvandenberg to add this block to the Work & Products templates
* [ ] @haleyjohnso needs to wrap testing on Android & Windows desktop

[2019-12-20 17:16] gracecanfield commented on #287
**Open tasks:**
* [ ] @justinvandenberg Make `hash` field optional.
* [ ] @justinvandenberg As soon as we deploy to production, remove the original post-roll product page redirect set up in the redirects plugin

(@haleyjohnso you're correct that not every product might have a hash. Justin also noted to me that the post roll redirect issue is the only one that we've seen, so this shouldn't be an is

[2019-12-20 18:04] haleyjohnso commented on #285
As I'm doing browser testing, I'm noticing that the image gallery images can be rather large and take up the whole screen. @gracecanfield do you anticipate that NPM will flag this, or is it up to them to control the image size?

<img width="1347" alt="Screen Shot 2019-12-20 at 10 43 16 AM" src="https://user-images.githubusercontent.com/57419582/71280456-778ae500-2318-11ea-8bfd-0e4685e49880.png">

[2019-12-20 18:46] justinvandenberg commented on #298
@gracecanfield here are all the mobile font sizes below 16px I could find. Feels like we'd be changing/messing with a lot.

11px
* Image credits
* Captions
* Program/services carousel subheadings
* Article subheadings
* Sources
* Single report hero subheading
* Footer links
* Menu back button
* Program modal subheadings

12px
* Audio timestamp
* Audio read transcript button
* Platform filters
* Po

[2019-12-20 18:48] gracecanfield commented on #298
Yikes. Let's hold on this till after the holidays when @mindywagner is back and let her advise.

[2019-12-20 19:13] haleyjohnso commented on #285
@justinvandenberg I'm not seeing this block appear on the Insights page. I can implement it on the admin side, but nothing new shows up on the page once I update.

[2019-12-20 19:15] haleyjohnso commented on #285
@justinvandenberg nvm, I got it to work, false alarm!

[2019-12-20 19:38] haleyjohnso commented on #285
@gracecanfield @justinvandenberg this one is good to go! Tested across our devices and browsers. I also successfully implemented this block on the templates/pages, and moved it throughout the page to test it against other blocks. The only small concern I had was the size of the image, noted above.

[2019-12-20 21:01] gracecanfield commented on #276
@justinvandenberg it also looks like # 2 above was never resolved:

I'm reproducing this myself on staging. Can we either make the anchor a bit above where the tab actually starts to account for the sticky nav obstructing the view, OR can we just have the anchor link make the corresponding tab be selected, but not actually jump the user down to that point on the page? cc: @haleyjohnso

[2019-12-20 21:03] gracecanfield commented on #285
@haleyjohnso I caught the same thing about the image sizes, and agree! this has the same behavior as the freeform image block and modals on the site, however, so I think we could just give the client height guideline and let them know we could revisit the approach for any of those blocks if they want to restrict height further.

[2019-12-20 21:55] haleyjohnso commented on #284
hey @justinvandenberg let me know if I'm testing this incorrectly, but I'm not seeing the new image come through.

Page:  https://test-national-public-media-v2.pantheonsite.io/products/center-stage/

I'm testing on the homepage center stage section, where the image on the left is the thumbnail:
![Screen Shot 2019-12-20 at 2 47 40 PM](https://user-images.githubusercontent.com/57419582/71295202-33a7

[2019-12-20 22:11] justinvandenberg commented on #284
@haleyjohnso that's what we want to happen right now. We're going to let them enter the content then push the front-end change after that's entered.

The skip to content button should not be there. I think @jeremyfrank did something with that recently?

[2019-12-20 22:25] haleyjohnso commented on #276
Hey @justinvandenberg -- We're good on Chrome and Safari, but Firefox is still wonky I think:
https://test-national-public-media-v2.pantheonsite.io/products/audio-interstitial/#npr-player---desktop

![Screen Shot 2019-12-20 at 3 24 51 PM](https://user-images.githubusercontent.com/57419582/71296447-ebd77f80-233c-11ea-8132-ab5c37983b7b.png)

[2019-12-20 22:32] haleyjohnso commented on #287
Hey @justinvandenberg - I've been testing a few of those redirects in the spreadsheet. I think I found a new one that doesn't work.

https://test-national-public-media-v2.pantheonsite.io/products/npr-org/#story-center-stage

redirects to

https://test-national-public-media-v2.pantheonsite.io/products/?platforms=desktop-display,display#story-center-stage

instead of https://test-national-public-med

[2019-12-20 22:45] haleyjohnso commented on #284
Ah okay--is there any other way that I should test this @gracecanfield if I can't visually verify if it's working?

I know the Skip to Content button was visually missing from my a11y QA--and still was, last time I checked.

[2019-12-20 22:55] justinvandenberg commented on #284
Looks like it was addressed in this PR https://github.com/vigetlabs/npm/pull/301

[2019-12-20 23:15] justinvandenberg commented on #284
@haleyjohnso take a gander again. I pushed up a hotfix for the Skip to Content button.

[2019-12-20 23:53] justinvandenberg commented on #287
@haleyjohnso looks like it's another one of the redirects they had entered. I wonder if we should reach out to them to make sure we're not missing anything? I've disabled that one for now.
<img width="290" alt="Screen Shot 2019-12-20 at 4 49 30 PM" src="https://user-images.githubusercontent.com/8126358/71299112-da947000-2348-11ea-9784-dd8c6ba42421.png">

[2019-12-21 00:10] justinvandenberg commented on #276
@haleyjohnso I'm not able to reproduce on Firefox. Maybe it's cached the page?

[2019-12-21 00:22] haleyjohnso commented on #287
@justinvandenberg is the first line in the screenshot how they entered the redirect?

[2019-12-21 00:25] haleyjohnso commented on #287
@justinvandenberg I'll plan to flag that as part of the testing on Monday. What do we need to get from them in case we're missing something?

[2019-12-21 00:27] haleyjohnso commented on #284
@justinvandenberg looks good--I'm not seeing the Skip to Content button

[2019-12-21 00:33] justinvandenberg commented on #287
I think "Do you need `/products/npr-podcasts/` and `/products/npr-org/` (without a hash) to redirect to the filtered products page?" will suffice.

[2019-12-21 03:35] haleyjohnso commented on #276
@justinvandenberg aha, cleared cache on Firefox and no longer an issue.
However, can you make sure these aren't getting clipped on mobile? (This can obviously wait until Monday)
I tried
https://test-national-public-media-v2.pantheonsite.io/products/brand-soundscapes/#soundscape-75
on browserstack (Pixel 4, Chrome)
<img width="268" alt="Screen Shot 2019-12-20 at 8 33 55 PM" src="https://user-images

[2019-12-23 13:45] haleyjohnso commented on #284
hey @justinvandenberg I wanted to verify that this page https://test-national-public-media-v2.pantheonsite.io/products/broadcast-credit-national/ **shouldn't** have the new image field on the admin side because each thumbnail has audio associated with it. Is that right?

[2019-12-23 17:03] justinvandenberg commented on #276
@haleyjohnso the tabs should be scrollable on mobile.

[2019-12-23 17:11] justinvandenberg commented on #284
@haleyjohnso that is correct. It should only appear when Type field is set to Image.

[2019-12-23 20:45] haleyjohnso commented on #276
@justinvandenberg

<img width="952" alt="Skip_to_Content" src="https://user-images.githubusercontent.com/57419582/71379855-8f6d9d80-2592-11ea-9daa-7073db73ea91.png">
- [ ] Skip to Content is still visible on Internet Explorer (NPM)
- [ ] I'm still seeing the tabs hiding behind the nav on the latest version of Edge

[2019-12-23 22:03] haleyjohnso commented on #276
fyi, for our records, this is resolved on IE but Edge needs a ticket

[2019-12-24 00:13] haleyjohnso opened #303 "Links for product variants don't redirect to the correct placement on the page on Edge"
## Overview

**Page or Element Name**
Product Detail pages

**Example URL**
https://www.nationalpublicmedia.com/products/audio-interstitial/#npr-player---mobile

## Details

**Summary:**
Originated from ticket #276. There is a browser that does not properly display the product variant links.

- Edge, Windows: The first time a user attempts to navigate to the link containing the product variant, th

[2020-01-02 20:30] gracecanfield commented on #273
@jeremyfrank Did some further investigation and it sounds like this actually just isn't possible without redesigning the page. @jeremyfrank Could you note the options here? For some reason I can't find them anywhere in slack.

[2020-01-08 13:08] jeremyfrank commented on #273
I investigated an issue related to **overall page weight** of the podcast page being huge. It was due to the fact that each audio player needs to download its corresponding audio file in its entirety in order to generate the waveform visual. There weren't many options for addressing that:

1. Use the server to pre-process the audio files and generate a waveform file (text/xml?) and use that for th

[2020-01-10 16:49] justinvandenberg commented on #284
@haleyjohnso @gracecanfield the front-end image swap should be on staging now.

[2020-01-13 16:06] gracecanfield commented on #273
Thanks! Closing this out.

[2020-01-13 16:06] #273 closed

[2020-02-05 22:38] haleyjohnso opened #304 "Estimate URL structure for sponsorship pages"
## To Do

In 30 min of exploration:
* Define technical approach to solving this issue
* Estimate the time for the task described below

## Overview

**Page or Element Name** - Sponsorship pages

**Example URL**
https://www.nationalpublicmedia.com/sponsorship/radio-sponsorship/
https://www.nationalpublicmedia.com/sponsorship/podcast-sponsorship/
https://www.nationalpublicmedia.com/sponsorship/voice

[2020-02-05 22:46] haleyjohnso opened #305 "Change width of images in image gallery block"
## Overview

**Page or Element Name**
Image gallery block

**Example URL**
https://test-national-public-media-v2.pantheonsite.io/sponsorship/tiny-desk-contest/

**Time estimate**
.5

## Details

**Summary:** Make this image block take up less vertical space on small laptop screens

**Current vs. Desired state:**
Right now the images in the gallery scale to take up all of the screen on smaller lapt

[2020-02-05 23:01] haleyjohnso opened #306 "Mobile: Product header & filter adjustments"
## Overview

**Page or Element Name**
Products page on mobile

**Example URL**
https://www.nationalpublicmedia.com/products/

**Time Estimate**
1

## Details

**Summary:**

**Current vs. Desired state:**
Currently, users have to scroll horizontally to see all the options (video and custom), which isn't intuitive to users.

* Remove description on header & make sure heading is vertically center-ali

[2020-02-05 23:07] haleyjohnso opened #307 "Change background color and effects of programs page to match that of products"
## Overview

**Page or Element Name**

Programs

**Example URL**
https://live-national-public-media-v2.pantheonsite.io/programs/

**Time Estimate**
1.5

## Details

**Summary:**
Please make changes to the programs page to be more consistent with the products page.

**Current vs. Desired state:**
We'd like the following changes to be made to the programs page:
1. Background color should match the o

[2020-02-05 23:15] haleyjohnso opened #308 "Videos: have play button show by default, not just on hover"
## Overview

**Page or Element Name**
Videos on Work pages

**Example URL**
Example: https://www.nationalpublicmedia.com/work/target/

**Time Estimate**
.5

## Details

**Summary:** To make clear that users can play videos, make a play button show by default on video thumbnails

**Current vs. Desired state:**
Currently a play button appears on hover. We would like the play button to be always visi

[2020-02-05 23:27] haleyjohnso opened #309 "Mobile: Stat block - spacing between intro text and first stat"
## Overview

**Page or Element Name**
Stats block

**Example URL**
https://www.nationalpublicmedia.com/sponsorship/radio-sponsorship/

**Time Estimate**
.5

## Details

**Summary:** Reduce space between intro text and call-out stats on mobile

**Current vs. Desired state:**
In the 2-column option of this block, there is space between the text and stat heading. Please reduce this space to be the sa

[2020-02-05 23:30] haleyjohnso opened #310 "Product Filters scroll horizontally on desktop"
## Overview

**Page Name & Example URL**
Products https://live-national-public-media-v2.pantheonsite.io/products/

**Describe the bug**
I accidentally found that you can scroll the product filters horizontally on desktop. This is a problem because I could not get it to scroll back, and didnt actually know what happened initially. Please disable this scrolling on desktop, it is not necessary when t

[2020-02-05 23:36] haleyjohnso opened #311 "Add heading field to featured work block"
## Overview

**Page or Element Name**
Featured work block

**Example URL**
https://live-national-public-media-v2.pantheonsite.io/sponsorship/podcast-sponsorship/

**Time estimate**
.5

## Details

**Summary:**
Please add the header field block option to the featured work block

**Current vs. Desired state:**
We'd like to be able to add a header above the featured work block instead of having it ab

[2020-02-05 23:39] haleyjohnso opened #312 "Links on product specs should be styled like links (+ add link functionality to Text field on spec groups)"
## Overview

**Page or Element Name**
Products pages with links

**Example URL**
https://live-national-public-media-v2.pantheonsite.io/products/center-stage/

## Details

**Summary:**
We have to place links to demos within the specs on the products pages. We are using an a href tag, but when it's linked, they dont appear to be links at all.

**Current vs. Desired state:**
Currently the links on th

[2020-02-06 04:08] haleyjohnso commented on #203
@ten1seven NPM couldn't find the new blocks because it appears as though they can't add any new blocks at all to these pages on the admin side:
https://test-national-public-media-v2.pantheonsite.io/contact/
https://test-national-public-media-v2.pantheonsite.io/contact/thank-you/

Notice how the + and - buttons are missing in the upper righthand corner of the components.

**Screenshots**
<img width

[2020-02-06 17:42] ten1seven commented on #308
@haleyjohnso I missed this bullet when initially reviewing the ticket: *Suppress video modals on mobile*.

This is non-trivial and not at all related to showing the play button. Can you clarify and, if it is indeed an additional ask, split out into a separate ticket.

[2020-02-06 17:47] haleyjohnso commented on #308
@ten1seven good catch--I don't think you need to take action on that bullet, but let me confirm with Grace.
@gracecanfield I pulled the _suppress video modals on mobile_ bullet from a comment on the ticket. Can you confirm that this is separate issue?

[2020-02-06 17:59] gracecanfield commented on #308
@ten1seven Totally get that this is a separate and non-trivial thing. Since this wasn't included in our original estimate, would you be able to estimate time required for this and then we can follow up with NPM?

[2020-02-06 18:04] ten1seven commented on #308
Would the approach be to play the video inline?

[2020-02-06 18:05] ten1seven commented on #305
Left a question on the Trello card for the client

[2020-02-06 18:09] gracecanfield commented on #308
Yes - on mobile only. (The reason they requested this is because when a user clicks into a video modal on mobile, it actually displays _smaller_ than the inline thumbnail. The original purpose of the modal was to display the content in a larger format, but it's doing the opposite on mobile.)

[2020-02-06 18:59] ten1seven commented on #311
@haleyjohnso confirming that this is what they want the option to do (note header moved from middle to top of section:

![Screen Shot 2020-02-06 at 11 58 46 AM](https://user-images.githubusercontent.com/137020/73969163-22ab2a00-48d8-11ea-9c7f-8e6330e9e062.png)

[2020-02-06 19:48] ten1seven commented on #308
That makes sense. I'm going to put this effort at **4 hours**.

[2020-02-06 20:06] haleyjohnso commented on #311
Yes, confirmed. In sum, @ten1seven  you've added the ability for the featured work component to have a header without removing the ability for the related work to have a header. Was there anything about this ticket that gave you pause?

[2020-02-06 20:57] ten1seven commented on #311
No, just confirming what the visual result should be.

[2020-02-10 14:14] ten1seven commented on #308
The play button update is done. I recommend splitting the "play inline on small screens" work into a new ticket.

[2020-02-11 19:51] haleyjohnso commented on #311
I'm on staging (test) and while I **can** add a heading to the featured work block and have it appear as expected, it appears that the images in the Featured Work block and the Related Work block have disappeared.

<img width="1385" alt="Screen Shot 2020-02-11 at 12 46 47 PM" src="https://user-images.githubusercontent.com/57419582/74272955-cc215f80-4ccc-11ea-80f8-0104ba708a07.png">

[2020-02-11 19:54] ten1seven commented on #311
I still see images on:
https://dev-national-public-media-v2.pantheonsite.io/sponsorship/podcast-sponsorship/
https://test-national-public-media-v2.pantheonsite.io/sponsorship/podcast-sponsorship/

Where are you testing it?

[2020-02-11 20:15] haleyjohnso commented on #311
Weird. I think i've figured out what's happening. I'm on https://test-national-public-media-v2.pantheonsite.io/sponsorship/podcast-sponsorship/
BUT when I'm 'previewing' the page (which I normally do after making a change), the aren't any images. Just clearing the preview appendage (?preview_id=70&preview_nonce=58efcd3f5d&preview=true) from the URL makes the images come back.

Ergo, disregard. The

[2020-02-11 21:34] haleyjohnso commented on #306
The header feels more centered than it was before, but @gracecanfield I'd like you to verify that this aligns with what the client is looking for.

Now looking at this in QA, I don't think I know what the "description on the header" was (it was supposed to be removed).

Confirmed that the gradient is there to make the horizontal scroll more apparent. Tested on iPhone and android on Safari, Chrome

[2020-02-13 14:07] gracecanfield commented on #306
Currently on production, if the description field is left blank, on mobile it causes extra space to be added in the header beneath the "Products" and "Programs" labels, making it not look vertically center-aligned.

I'm not sure we were totally clear in the original ticket description, but the description **field** should have been removed from the admin entirely, and then the front-end checked on

[2020-02-13 14:27] ten1seven commented on #306
Okay, deleting that field wasn't clear (and as an interloper on this project, I'm loath to delete data fields unless specifically requested). That  "Product archive" text field is only used in that template so it's safe to remove.

**[Question]** Alternately, it's a required field. I could make it not required so they still have the option to use it.

Either way I'll look at the markup again and m

[2020-02-13 14:29] gracecanfield commented on #306
@jeremyfrank Re: whether to remove the field entirely or not - we offered them the option of leaving it as optional, but they wanted us to remove it because they feel confident they won't be using it.

[2020-02-13 14:29] gracecanfield commented on #306
@ten1seven Re: whether to remove the field entirely or not - we offered them the option of leaving it as optional, but they wanted us to remove it because they feel confident they won't be using it.

[2020-02-14 05:14] haleyjohnso commented on #310
I'm no longer seeing this issue on any desktop browsers...but I am seeing some strange 'test' text floating in the header? Unrelated?
<img width="749" alt="Screen Shot 2020-02-13 at 10 11 30 PM" src="https://user-images.githubusercontent.com/57419582/74503446-2594b480-4eae-11ea-917a-c04b5639b188.png">

[2020-02-14 13:18] ten1seven commented on #310
That's related to #306 and will be removed when I get back to that ticket.

[2020-02-16 22:37] haleyjohnso commented on #312
I can confirm that this works because I added a new spec with a link.
Blue text, looks clickable, and I looked at it in a variety of browsers (including IE11) and devices. The only thing that's strange is that it seems like all of the demos are no longer there. For example, I couldn't find the example in the screenshot, and even when I looked at few products, I couldn't find any with demos listed

[2020-02-16 23:09] haleyjohnso commented on #203
More block options are now available on these pages. I've also looked at how the requested blocks appear on the pages. I just wanted to verify that if a Text block is added to the Thank You page that it should appear this far down the page:
<img width="1291" alt="Screen Shot 2020-02-16 at 4 05 47 PM" src="https://user-images.githubusercontent.com/57419582/74614594-51927e80-50d6-11ea-96a3-34568d290

[2020-02-16 23:21] haleyjohnso commented on #309
The spacing has been reduced. Looks good on mobile as well as small screens

[2020-02-17 00:02] haleyjohnso commented on #307
1. Check
2. Yes, I _think_ so. The drop-shadow is harder to see on the programs page in my opinion.
3. Check!

[2020-02-17 05:32] haleyjohnso opened #314 "Play videos inline on small screens"
## Overview

**Page or Element Name**
Videos on mobile

**Example URL**
Example: https://www.nationalpublicmedia.com/work/target/

**Time Estimate**
4

**Related Trello Card**
https://trello.com/c/vkko5DxX/209-suppress-video-modals-on-mobile-314

**Related Github issue**
Originally mentioned in #308

## Details

**Summary:** On mobile modals, when a user clicks into a video modal on mobile, it act

[2020-02-17 05:34] haleyjohnso commented on #308
This play button update is visible on a variety of screens! Inline videos issue is on this ticket that I just created: #314

[2020-02-18 15:14] gracecanfield commented on #66
@jeremyfrank I'm doing some GitHub cleanup and noticed this ticket is still listed as In Code Review on the project board. Is that accurate, or has this been merged to master already?

[2020-02-18 15:15] gracecanfield commented on #276
@haleyjohnso I believe this went out before Christmas, right? (aside from the edge issue captured separately.) If so, could you close out this ticket? (It's currently still under "Up Next")

[2020-02-18 15:16] #188 closed

[2020-02-18 15:20] #102 closed

[2020-02-18 15:21] gracecanfield commented on #287
@haleyjohnso Can this be closed out? (I believe this may have been in the batch o' tickets that went live around Christmas time?) If so, please feel free to close.

[2020-02-18 15:22] #284 closed

[2020-02-18 15:23] #289 closed

[2020-02-18 15:25] #281 closed

[2020-02-18 15:25] #282 closed

[2020-02-18 15:25] #280 closed

[2020-02-18 15:25] #202 closed

[2020-02-18 15:25] #274 closed

[2020-02-18 15:25] #283 closed

[2020-02-18 15:25] #263 closed

[2020-02-18 15:25] #277 closed

[2020-02-18 15:26] #278 closed

[2020-02-18 15:26] #243 closed

[2020-02-18 15:26] #229 closed

[2020-02-18 15:27] gracecanfield commented on #305
@ten1seven From the client:

So, we should move forward with:

[2020-02-18 15:33] gracecanfield commented on #203
@haleyjohnso Related insights should equal news, in this case - not sure why they called it out separately, but I'll note that in my response to them.

[2020-02-18 15:34] jeremyfrank commented on #66
Hmmm, I honestly don't remember, but one of the updates above shows that the PR was merged.

[2020-02-18 15:39] gracecanfield commented on #66
Thanks! In that case, I believe this must have gone to production; I'll close out.

[2020-02-18 15:39] #66 closed

[2020-02-18 22:47] haleyjohnso commented on #303
hey @gracecanfield - this doesn't seem to be an issue on the latest version of Edge (80). It's still an issue for Edge 18, but that version is no longer the most recent. Let me know if I should follow-up with Whitney in Trello, or if I should have a FED look into it.

[2020-02-18 22:57] #287 closed

[2020-02-21 17:08] ten1seven commented on #306
This is on staging (test) to review.

https://test-national-public-media-v2.pantheonsite.io/products/
https://test-national-public-media-v2.pantheonsite.io/wp/wp-admin/post.php?post=185&action=edit

https://test-national-public-media-v2.pantheonsite.io/programs/
https://test-national-public-media-v2.pantheonsite.io/wp/wp-admin/post.php?post=371&action=edit

[2020-02-21 21:27] gracecanfield commented on #303
@haleyjohnso It would be great if you could follow up w/ NPM in Trello! Thanks.

[2020-02-21 21:54] gracecanfield commented on #306
@haleyjohnso If you have time to QA this early next week, that'd be great! If you don't think you will, just give me a heads up and I can grab it.

[2020-02-24 16:06] gracecanfield commented on #276
@haleyjohnso Does this have any additional work needed or is it good to close out?

[2020-02-24 21:04] ten1seven commented on #304
WordPress pretty heavily expects to see pages at the root level. Serialized things like posts, categories, and custom post types all have "archive" pages so that WordPress can better use the URL structure to understand how to fetch content. For example, `/sponsorship/` matches a custom post type, so WP knows to serve a "listing" (aka. archive) page. `/sponsorship/radio-sponsorship/` matches the cu

[2020-02-24 23:40] ten1seven commented on #304
Edit: revised my high estimate down to 32 hours

[2020-02-26 17:57] haleyjohnso commented on #306
@ten1seven the headers on the Products and Programs pages no longer have extra space beneath the text, making them vertically aligned on mobile (on iphone, pixel, and android).

On the admin side, it appears as though the field title is gone but it still looks like a user could enter some copy. Regardless, the end-user experience looks better, so I think that's all that matters.

![Screen Shot 202

[2020-02-26 18:37] ten1seven commented on #306
That WYSIWYG is for another area of text not related to the header? I didn't look at it since it wasn't related to this ticket.

[2020-02-26 21:10] haleyjohnso commented on #306
Just tried adding text in it in test. I didn't see anything new show up on the page. So I don't know what that WYSIWYG does. But I do think that this is ready to go

[2020-02-26 21:13] haleyjohnso commented on #276
Good to close! I've already let Whitney know on trello @gracecanfield

[2020-02-26 21:13] #276 closed

[2020-02-27 13:30] gracecanfield commented on #304
Thanks! I followed up with Whitney accordingly.

[2020-02-27 13:30] #304 closed

[2020-02-27 13:41] gracecanfield commented on #312
@ten1seven Any input on Haley's QA note ☝️ ? The problem is, I'm not confident that this is a QA issue vs. a content entry thing (e.g. production has different content than staging). Because demos is just a row entered in the table, so how could only that content be missing due to a bug? (unless the bug is that the last row in every spec table got deleted somehow.)

Let us know your thoughts! I'm

[2020-02-27 13:52] ten1seven commented on #312
This content wasn't there before I started the work so I can confirm that the work on the ticket didn't have an effect. Is there a database sync process?

[2020-02-27 16:44] gracecanfield commented on #312
@ten1seven Cool! Thanks for confirming. Re: DB sync...sounds like we might want to update the ReadMe... :) @justinvandenberg Could you let @ten1seven know the process for syncing DB's?

[2020-02-27 16:47] justinvandenberg commented on #312
@ten1seven in the Pantheon dashboard, select an environment, go to Database / Files, then Clone. You can then select where to clone the DB from.

[2020-02-27 18:30] ten1seven commented on #312
@justinvandenberg when doing this, does it mean that we need to re-deploy code (theme and assets) because the sync would have overwritten them? Or is this focused only on database and uploaded assets?

[2020-02-27 18:32] justinvandenberg commented on #312
@ten1seven only database and assets. There is a checkbox in the deploy process if you want to clone them at the same time.

[2020-03-30 14:22] gracecanfield commented on #305
@ten1seven Hi there! We have [approval](https://trello.com/c/eWOdqgBx/206-change-width-of-images-in-image-gallery-block-305#comment-5e7bed4b589258077bed5dfa) to move forward with 2 hours of additional time spent on this.

[2020-03-30 14:24] gracecanfield commented on #308
@ten1seven We have several [client-requested edits]() on this:
* [ ] Make the play button a lower opacity by default, so that it doesn't completely obscure the video. Note: You can still maintain full opacity as a hover state.
* [ ] Apply to audio examples on the site, e.g. on product pages like this: https://www.nationalpublicmedia.com/products/mid-roll/

[2020-03-30 14:30] gracecanfield opened #316 "Sponsorship Pages: Update URL structure"
## Overview

* **Summary:** Update the URL structure for Sponsorship pages so they are child pages of the Platform pages they relate to.
* **Page or Element Name:** - Sponsorship pages (`/sponsorship/<slug>`)
* **Related Trello card:** https://trello.com/c/FGXLNijz/195-url-structure-for-sponsorship-pages-304
* **Estimate:** 4 hours (note: Please pause work and flag for Grace if you get into this a

[2020-03-30 14:32] gracecanfield commented on #316
@ten1seven Just a reminder to please keep this in a separate branch, silo'd from the other changes you worked on previously. Since this one will require client content entry, they don't want it to hold up getting the other changes out to production. Thanks!

[2020-03-30 15:26] gracecanfield commented on #316
@ten1seven A couple other reminders:

* [ ] I checked with @aakashtandel and he said we shouldn't need to make any updates in GTM, but that you should just make sure the GTM.js script is added to the new URL page.
* [ ] Let's also try, if possible, to set up automatic redirects that go from the old to new URL structure. (Please let me know if we can't do this, so we know to add manually.)

[2020-04-03 21:13] ten1seven commented on #308
This is on staging and can be tested at:

https://npm.staging.vigetx.com/work/target/
https://npm.staging.vigetx.com/products/mid-roll/

[2020-04-04 02:57] ten1seven commented on #305
This is on staging to QA.

[2020-04-07 15:54] gracecanfield commented on #316
Got it; thanks! so to be clear, NPM &/or us will need to add any redirects manually in the CMS, right?

[2020-04-07 15:54] gracecanfield commented on #316
Also, any sense of ETA on this? We'd originally told Whitney this would be ready for QA early this week

[2020-04-07 17:02] ten1seven commented on #316
I just got the PR approved and will merge and deploy to staging for QA.

[2020-04-07 17:14] ten1seven commented on #316
This is on staging for QA:

New page:
https://npm.staging.vigetx.com/audio/radio-sponsorship/

Admin page:
https://npm.staging.vigetx.com/wp/wp-admin/post.php?post=2598&action=edit

Changed nav menu entry from post type to page:
![Screen Shot 2020-04-07 at 11 12 37 AM](https://user-images.githubusercontent.com/137020/78699214-c5742a80-78c0-11ea-90d0-b2bad4601a34.png)

Added redirect:
![Screen Shot

[2020-04-08 04:24] haleyjohnso commented on #316
To test this, I:

- Navigated to the old URL /sponsorship/radio-sponsorship/ and it successfully redirected to /audio/radio-sponsorship/
- I opened up the production site /sponsorship/radio-sponsorship/ and compared it to staging /audio/radio-sponsorship/
- I did this comparison for a variety of browsers (firefox, Edge, Safari, IE11, Chrome) and devices (android, iphone, ipad)
- I verified that th

[2020-04-08 13:42] ten1seven commented on #316
@haleyjohnso I don't think you need to fully replicate all new pages and links as long as you think that what you've done is thorough enough.

Can you be more specific about this:

If I click directly on those links I get to the same `/audio/podcast-sponsorship` page. Are you referring to links within the site that aren't redirecting correctly?

[2020-04-08 19:06] haleyjohnso commented on #316
Wow, I think I was copying and pasting the wrong link. I meant https://npm.staging.vigetx.com/sponsorship/podcast-sponsorship wasn't working...but not it appears that it is

[2020-04-08 20:25] gracecanfield commented on #308
(Grace - note to self - make sure we mention that audio behavior was not updated for audio clips outside of product page.)

[2020-04-08 21:48] haleyjohnso commented on #308
I tested these pages on a variety of browsers and devices. Everything looks good, but I noticed that the audio clip on https://npm.staging.vigetx.com/products/mid-roll/ doesn't work on IE11 (production site as well).

[2020-04-08 22:00] ten1seven commented on #308
Since the IE11 bug already exists and is not directly related to this ticket, my recommendation is to spin up a new ticket to address the popup in IE11 so we're not blocking this issue with something unrelated.

[2020-04-09 12:15] gracecanfield commented on #308
@haleyjohnso Is this different than the IE11 issue captured in this ticket? : https://github.com/vigetlabs/npm/issues/273

Or are you saying the audio clips won't play at all?

[2020-04-09 12:15] gracecanfield commented on #308
(agree that either way, this is a separate issue from this ticket)

[2020-04-09 13:22] ten1seven commented on #316
Try this in an incognito window ( or just not logged in to the admin) and it works. I don't know why some redirects work and this particular link doesn't when logged in, but it seems to work fine for non-admins.

[2020-04-09 15:41] haleyjohnso commented on #316
Aha! Works in an incognito window

[2020-04-09 16:04] haleyjohnso commented on #316
Also, just in case this isn't obvious--if we or NPM don't attach the templates to the right pages once we move to production, a lot of the pages 404.

For example, I can't get to the Tiny Desk Concert sponsorship page on staging. https://npm.staging.vigetx.com/tiny-desk-contest/

Or by going to Platforms > Events > Tiny Desk Concert

[2020-04-09 18:13] haleyjohnso commented on #305
@ten1seven Can you send a link? I'm looking for another example of where the gallery images exists. I tried to navigate to the /sponsorship/tiny-desk-concert page and currently can't on staging

[2020-04-09 19:24] gracecanfield commented on #316
@ten1seven Hi there! It looks like this is ready to share with NPM. My main question before I do, is: What does the content entry approach look like for this? e.g., is there a way that we could get the back-end work on production so they can enter the content and then we go live with the front-end stuff? I'm trying to figure out a scenario where they don't have to be stuck with nonexistant or brok

[2020-04-09 20:49] ten1seven commented on #305
Oh, right. All sponsorship pages are gone because of #316 unless they're manually created as a page. I made that one and added a gallery block for testing.

https://npm.staging.vigetx.com/events/tiny-desk-contest/

[2020-04-10 12:23] gracecanfield commented on #316
@ten1seven We were originally supposed to have this ready for NPM earlier this week, so I'm hoping to get the direction on content entry approach this morning so I can convey that along with staging review instructions. Any way you could follow up on [my question here](https://github.com/vigetlabs/npm/issues/316#issuecomment-611710071) when you get in today? Thanks!

[2020-04-10 13:03] ten1seven commented on #316
I would need to backtrack on some work to allow both pages to exist. It would take ~30 minutes and I can do it this morning.

[2020-04-10 13:23] ten1seven commented on #316
Okay, this is up on staging so you can verify it's working. You can now go to:

[2020-04-10 13:26] gracecanfield commented on #316
@ten1seven Thank you so much! So is this saying that basically, we could deploy these to production and the user wouldn't see anything amiss? (the front-end would still be referencing the old templates?) And then would they have to enter the content, give us an okay, and then we would update the front-end to reference the new Page templates?

Or if not, what would the steps be?

[2020-04-10 13:31] ten1seven commented on #316
Correct on the first part. When they start adding the new pages and redirects it will all start working for visitors immediately. The only work I need to do to backfill is to _remove_ the ability for there to be pages for the sponsorship post type. If I left that in place, there would be duplicate pages (though "hidden" behind a redirect).

One nice side effect of making the sponsorship post types

[2020-04-10 15:04] haleyjohnso commented on #305
@ten1seven ah, thanks for doing that--just realized I could have easily added the block.

I tested this on a variety of browsers and screen sizes! The only one that was wonky was IE11 (via browserstack)--the arrows are in the wrong place.
<img width="940" alt="Screen Shot 2020-04-10 at 8 33 10 AM" src="https://user-images.githubusercontent.com/57419582/79000613-30647200-7b0a-11ea-9497-16d04a722626

[2020-04-10 15:13] haleyjohnso commented on #308
#273 is correct--except that, additionally, the clips are not playing at
all on IE11

On Thu, Apr 9, 2020 at 6:15 AM Grace Canfield <notifications@github.com>
wrote:

--
————-
*Haley Johnson*
*Digital Project Manager*, Viget
<http://viget.com/?utm_source=signature&utm_medium=email&utm_campaign=viget>
703.891.0670 x142

[2020-04-10 15:44] ten1seven commented on #308
Yes, I think so.

[2020-04-10 16:38] ten1seven commented on #305
Can we verify on the live site if this is a regression or pre-existing condition?

[2020-04-10 17:02] ten1seven commented on #305
This appears to be an existing bug. Notice in this screenshot from https://www.nationalpublicmedia.com/page-blocks/ that there is additional white space below the gallery and the buttons are sitting low.

![Screen Shot 2020-04-10 at 11 01 08 AM](https://user-images.githubusercontent.com/137020/79008500-c3a5a380-7b1a-11ea-90f7-80b7444dd18f.png)

[2020-04-10 17:35] gracecanfield commented on #305
@haleyjohnso would you mind capturing the IE issue in a separate ticket?

Side note - In general, if we ever notice a bug on an existing feature that has just been enhanced, Iet's cross-check against production to see whether the bug is a pre-existing issue or not - and if it is, default to a separate ticket in the icebox that you can assign to me. Thanks!

[2020-04-10 21:13] haleyjohnso opened #322 "Image gallery block buttons are too low on IE11"
### Overview

- **Level of urgency:** [Low]
- **Harvest task:** National Public Media [NPM] > [01] Redesign & Support

### Details

Found while testing the fix to issue #305 - IE11 makes the arrows on the image gallery component appear lower than center on the sides of the images. The arrows should be vertically centered.

**Expected Behavior**
The gallery component should have arrows on either si

[2020-04-10 21:14] haleyjohnso commented on #305
See issue #322 and will do for any other issues that crop up

[2020-04-13 04:47] haleyjohnso opened #323 "Audio clips don't play on IE11"
### Overview

- **Level of urgency:** [Low]
- **Potential deadline:** N/A
- **Harvest task:** National Public Media [NPM] > [01] Redesign & Support

### Details

Related issues
- #273
- #308

In addition to the Wave visual issue described in #273 , the audio is not playing when I press the 'play' button on IE11 (browserstack), or, rather, when I click on the audio logo.

**Expected Behavior**

The

[2020-04-13 04:47] haleyjohnso commented on #308
Okay, added that issue to #323

[2020-04-13 12:54] gracecanfield commented on #308
Thanks so much!

[2020-06-09 16:16] haleyjohnso opened #327 "Ability to remove "view all" button from related articles block"
## Overview

- **URL:** https://www.nationalpublicmedia.com/audience/meet-the-npr-listener/
- **Size:** 0.5
- **Level of urgency:** [High]
- **Potential deadline:** [6/15]
- **Harvest task:** National Public Media [NPM] > [01] Redesign & Support

**Page or Element Name**
Related Articles block

**Example URL**
https://www.nationalpublicmedia.com/audience/meet-the-npr-listener/

## Details

**Summa

[2020-06-09 16:22] haleyjohnso opened #328 "Make CTA block available on Audience page template"
### Overview

- **URL:** https://www.nationalpublicmedia.com/audience/
- **Size:** 1
- **Level of urgency:** [High]
- **Potential deadline:** [6/15]
- **Harvest task:** National Public Media [NPM] > [01] Redesign & Support

**Page or Element Name**
CTA content block, Audience page template

**Example URL**
https://www.nationalpublicmedia.com/audience/

## Details

**Summary:**
Make the CTA content

[2020-06-09 16:27] haleyjohnso opened #329 "Merge CSS into main file"
### Overview

- **Size:** 0.5
- **Level of urgency:** [High]
- **Potential deadline:** [6/19]
- **Harvest task:** National Public Media [NPM] > [01] Redesign & Support

**Page or Element Name**
Additional CSS file

**Example URL**
n/a

## Details

**Summary:**
We added some CSS into the additional css of the theme, and would like this to be formally added to the file to avoid any conflicts in clas

[2020-06-09 16:34] haleyjohnso opened #330 "Duplicate pages function (install plugin)"
## Overview

- **URL:** n/a
- **Size:** 0.5
- **Level of urgency:** [High]
- **Potential deadline:** [6/19]
- **Harvest task:** National Public Media [NPM] > [01] Redesign & Support

**Page or Element Name**
Editing interface

**Example URL**
Pages, Sponsorship posts/pages, Articles

## Details

**Summary:** Install Duplicate Pages plugin (or similar if you have another recommended solution) so th

[2020-06-09 16:41] haleyjohnso opened #331 "Add Article and Report category - hide from feeds"
## Overview

- **URL:**
https://www.nationalpublicmedia.com/insights/articles/brandweek-2019-npr-on-the-importance-of-authenticity-and-power-of-audio/
- **Level of urgency:** [High]
- **Potential deadline:** [6/19]
- **Harvest task:** National Public Media [NPM] > [01] Redesign & Support

**Page or Element Name**
Article & Report pages - Wordpress editing interface

**Example URL**
example: https:

[2020-06-09 16:51] haleyjohnso opened #332 "Mobile: Programs page - remove image on back of card"
### Overview

- **URL:** https://www.nationalpublicmedia.com/programs/
- **Size:** 2
- **Level of urgency:** [Medium]
- **Potential deadline:** [6/19]
- **Harvest task:** National Public Media [NPM] > [01] Redesign & Support

**Page or Element Name**
Program modals on Programs page

**Example URL**
https://www.nationalpublicmedia.com/programs/

## Details

**Current vs. Desired state:**
Currently,

[2020-06-09 16:58] haleyjohnso opened #333 "Work pages hero image / audio breaks on medium break point"
## Overview

- **Level of urgency:** [Medium]
- **Size:** 2
- **Potential deadline:** [6/19]
- **Harvest task:** National Public Media [NPM] > [01] Redesign & Support

**Page Name & Example URL**
work details https://www.nationalpublicmedia.com/work/lagunitas/

**Describe the bug**
viewing the site at medium breakpoint (tablet) causes an audio player to float over the hero image, and also for the

[2020-06-09 17:04] haleyjohnso opened #334 "Mobile: Center Resources links"
## Overview

- **URL:** n/a
- **Size:** 0.5
- **Level of urgency:** [Medium]
- **Potential deadline:** [Date]
- **Harvest task:** National Public Media [NPM] > [01] Redesign & Support

**Page or Element Name**
Site footer

## Details

**Summary:**
To be consistent with the other footer links, center the menu items in the "Resources" section of the footer.

**Current vs. Desired state:**
Currently

[2020-06-10 05:47] haleyjohnso opened #335 "Adjust transition from program cards to 'Leading by Example'"
## Overview

- **URL:** https://www.nationalpublicmedia.com/
- **Size:** 1
- **Level of urgency:** [Low]
- **Potential deadline:** [6/19]
- **Harvest task:** National Public Media [NPM] > [01] Redesign & Support

**Page or Element Name**
Homepage, program cards block and featured content 'Leading by Example' block.

**Example URL**
https://www.nationalpublicmedia.com/

## Details

**Summary:**

Th

[2020-06-10 19:42] haleyjohnso opened #336 "Change top CONTACT US button to not be all caps"
## Overview

- **Level of urgency:** [Low]
- **Size: 0.5**
- **Potential deadline:** [6/19]
- **Harvest task:** National Public Media [NPM] > [01] Redesign & Support

**Page or Element Name**
Top Contact Us button on every page.

**Example URL**
https://www.nationalpublicmedia.com/

## Details

**Summary:**
Please change Contact Us button to not be all caps.

**Current vs. Desired state:**
The but

[2020-06-10 19:44] haleyjohnso opened #337 "Add "Preview" button to Platform pages in CMS"
## Overview

- **URL:** https://www.nationalpublicmedia.com/platforms/audio/
- **Size:** 6
- **Level of urgency:** [Low]
- **Potential deadline:** [6/15]
- **Harvest task:** National Public Media [NPM] > [01] Redesign & Support

**Page or Element Name**
Wordpress editing interface of Platform pages

**Example URL**
https://www.nationalpublicmedia.com/platforms/audio/

## Details

**Summary:**
Add

[2020-06-10 19:47] haleyjohnso opened #338 "PHP error"
### Overview

- **Size:** 2
- **Level of urgency:** [Low]
- **Potential deadline:** [6/19]
- **Harvest task:** National Public Media [NPM] > [01] Redesign & Support

### Details

_Saw this in Pantheon... what is it?_
![image (6)](https://user-images.githubusercontent.com/57419582/84311603-cd4e8600-ab20-11ea-8ae6-ec285ab2ccd4.png)

[2020-06-15 20:00] ten1seven commented on #314
FYI, the solution I chose here was to go with the native Vimeo or YouTube player interface on screens below 768px. Since it's much more difficult to trigger one of these types of videos to play from a custom button (consider that the current implementation isn't able to start the video playing when the modal opens when it's able to on desktop), I opted for the easier route of using the native inte

[2020-06-15 22:14] ten1seven commented on #338
I'm not seeing this error at this time.

![CleanShot 2020-06-15 at 16 13 48](https://user-images.githubusercontent.com/137020/84711311-3cfab180-af23-11ea-926c-16bab68b401b.png)

[2020-06-15 22:40] haleyjohnso commented on #314
Noted!

[2020-06-15 22:42] haleyjohnso commented on #338
Same--I let Whitney know

[2020-06-16 03:06] haleyjohnso commented on #338
No longer an issue--closing for now

[2020-06-16 03:06] #338 closed

[2020-06-16 23:50] haleyjohnso commented on #329
I see this on the brand soundscapes page as well as the Customizing Additional CSS sidebar. Let me know if there's a different way I should be QA-ing this, @ten1seven

[2020-06-17 00:24] haleyjohnso commented on #333
hey @ten1seven - on IE11, the audio waves don't appear. We're not going to fix, right? I think I remember seeing it in previous QA but can't find a reference
![Screen Shot 2020-06-16 at 6 23 07 PM](https://user-images.githubusercontent.com/57419582/84841094-9aaffc00-affe-11ea-9a83-49baaede31e1.png)

[2020-06-17 00:41] haleyjohnso commented on #335
Hey @ten1seven they want to keep the block's background gray on the homepage for consistency with other pages and so the cards stand out. They're wondering if we add a thin rule under the programs block so that it can be used next to another block with a gray background

[2020-06-17 01:53] ten1seven commented on #333
Correct, this is a big enough issue with IE11 that we decided not to try to fix.

[2020-06-17 01:54] ten1seven commented on #335
Yep, that was the original plan. I just wanted to make sure they were aware they had other options.

[2020-06-17 01:55] ten1seven commented on #329
I'm not aware myself, but this was rolled into the global styles so they will be on any page that needs them.

[2020-06-17 16:22] haleyjohnso commented on #330
hi @ten1seven - my mistake on this one. It was hanging out in _awaiting triage_. I just moved it now.

[2020-06-19 22:07] ten1seven commented on #337
This work is staged up on staging as "phase 1".

New platform pages can be created here:
https://npm.staging.vigetx.com/wp/wp-admin/edit.php?post_type=platforms

Example:

New page:
https://npm.staging.vigetx.com/platforms-new/audio/

Old page:
https://npm.staging.vigetx.com/platforms/audio/

- **Phase 1** is to deploy this change up to production and recreate all the platform pages (only the top-

[2020-06-20 03:39] haleyjohnso commented on #337
I was able to QA this by creating this page https://npm.staging.vigetx.com/platforms-new/video/ and looked at it on a variety of screens and browsers. Does this mean we need to do phase 2 on staging as well?

[2020-06-23 12:58] ten1seven commented on #337
Yep, we can do that to test phase 2. Keep in mind that because of the way Pantheon deploys work, we can't do phase 1&2 on test because anything on test goes to production. So we'll have to do phase 1 on _both_ before we can do phase 2.

[2020-06-23 17:42] ten1seven commented on #337
@haleyjohnso phase 2 has been deployed to staging. You can now see the Video page you created now lives at `/platforms` https://npm.staging.vigetx.com/platforms/video/

[2020-06-23 17:44] ten1seven opened #349 "Ability to edit hyperlink on buttons on Product pages"
## Overview

**Page or Element Name**
Product Pages - Spec Download area under Spec Groups

**Example URL**
https://www.nationalpublicmedia.com/products/center-stage/

## Details

**Summary:**
Allow for Spec Download button to link to any URL, not just a PDF file.

**Current vs. Desired state:**
Currently the spec download button only lets an editor choose a PDF from the media library. We are chan

[2020-06-23 19:29] ten1seven commented on #349
This is the new Specs/Guidelines UI. It's on staging for review.

![CleanShot 2020-06-23 at 13 28 05](https://user-images.githubusercontent.com/137020/85449871-7780d180-b555-11ea-9725-073bc756b88a.gif)

[2020-06-25 17:22] haleyjohnso commented on #337
@ten1seven I QA-ed those pages, but noticed that the links in the main navigation that should go to these pages now 404. Do I also need to update the links in the menu?

[2020-06-25 17:26] ten1seven commented on #337
Correct, one of the steps is to switch over the menu links.

[2020-06-25 22:19] haleyjohnso commented on #349
Tested! Works great. I'm going to move this to NPM review.

[2020-07-01 16:17] haleyjohnso commented on #314
Hi @ten1seven how much more work would it be for you to exclude videos on the Spec Details section for all product pages https://www.nationalpublicmedia.com/products/custom-channel/#npr-one-custom-channel

Whitney's reasoning is that the videos are too small to read if inline (see below) and using a modal for those videos would be consistent with how they're using the audio clips in Spec Details a

[2020-07-06 13:10] ten1seven commented on #314
Estimate: 2 hours

It's probably worth mentioning that rotating a phone to horizontal or using the full-screen control on the video is going to give someone a better viewing experience than a modal.

[2020-07-21 16:22] haleyjohnso commented on #337
@ten1seven - Hoping to get this and the remaining tickets in the batch deployed next week.

NPM mentioned that they'd be willing to do content entry. Here are the instructions I'm planning to send to them to explain the process--I bolded an assumption. Are my instructions accruate?:

1. First, we'll deploy a change that will allow you to create the new platform page types in the admin. 
2. Then, y

[2020-07-21 16:42] ten1seven commented on #337
Re: #3, I think we can take the responsibility of changing the nav links as part of the deploy. That way we can do it right at the time of deploy to essentially prevent `platforms-new` from ever being indexed by Google, which could happen if those new links are up for even a day.

[2020-07-21 19:01] haleyjohnso commented on #337
Great, I'll just remove step three then and roll the details into our deploy step. Thanks!

[2020-07-27 04:45] haleyjohnso commented on #314
Confirmed--let's go with that estimate and implement that change.

[2020-07-31 22:13] ten1seven commented on #314
@haleyjohnso this update is now on staging to review. I believe that the only other place videos like this are used is on the work pages. You can verify that they behave differently (as expected).

Product page with specs video (should always play in modal):
https://npm.staging.vigetx.com/products/custom-channel/

Work page with videos (should play in modal on large screens and inline on small scr

[2020-08-03 00:20] haleyjohnso commented on #314
These look good to me. Notifying NPM for client QA.

[2020-08-03 23:29] haleyjohnso commented on #337
Whitney's team will start content entry on Tuesday at 1:30pm ET /11:30am MT. Can we deploy this to production before then? Thanks!

[2020-08-03 23:32] haleyjohnso commented on #314
Client confirmed that this is ready for production!

[2020-09-21 15:52] #336 closed

[2020-09-21 15:53] #332 closed

[2020-09-21 15:53] #333 closed

[2020-09-21 15:53] #327 closed

[2020-09-21 15:53] #328 closed

[2020-09-21 15:53] #330 closed

[2020-09-21 15:53] #314 closed

[2020-09-21 15:53] #349 closed

[2020-09-21 15:53] #329 closed

[2020-09-21 15:53] #331 closed

[2020-09-21 17:03] haleyjohnso opened #353 "Ability to make PDF files not indexed by search"

[2020-09-21 17:13] haleyjohnso commented on #353
note: Whitney has a question from Friday on the [Trello](https://trello.com/c/DlG9KVP4) card

[2020-09-21 17:14] haleyjohnso opened #354 "Make CTA on pages removable"

[2020-09-21 17:20] haleyjohnso opened #355 "Add Image content block with header-width image"

[2020-09-21 17:27] haleyjohnso opened #356 "Question: Lazy loading images w/ Wordpress 5.5"

[2020-09-21 17:33] haleyjohnso commented on #356
As indicated in Trello Card comment, update LOE in hours for this card after .5 hours of investigation

[2020-09-23 19:10] justinvandenberg commented on #356
@haleyjohnso I've updated the Trello card. All images need to be updated to use `wp_get_attachment_image` in order for WordPress to handle lazy-loading natively.

[2020-09-24 22:36] haleyjohnso commented on #356
Got it. I think that NPM wants to get this done, but let's see where we are once you've done the work for #353 and #355. They're getting down to the last few hours of this TO and 6 hours might put them over.

[2020-10-06 04:27] haleyjohnso commented on #355
hey @justinvandenberg -- whoops, just realized that I didn't enter any content into this Github ticket. Sorry about that.

I'm wondering if there's a reason why I'm not seeing the new Hero Image block on all page types. For example:  https://npm.staging.vigetx.com/services/

Is it because there's already an image available in the hero block on that page?

[2020-11-10 18:59] haleyjohnso opened #357 "Image gallery on work detail pages"
### Overview

- **URL:** https://www.nationalpublicmedia.com/work/capitalone/
- **Level of urgency:** Medium
- **Potential deadline:** 11/30
- **Harvest task:** National Public Media [NPM] > [04] Website Support & Maintenance

### Details

**Describe the bug**
The image gallery/work groups image option is not behaving as we expect. We cannot scroll through images if we setup separate work items, a

[2020-11-16 04:20] haleyjohnso opened #358 "Specific links for program cards"

[2020-11-16 04:30] haleyjohnso opened #359 "Work examples autopopulate"

[2020-11-16 04:32] haleyjohnso opened #360 "Request to make header eyebrow not a required field in the stat block"

[2020-11-20 18:21] justinvandenberg commented on #355
@haleyjohnso I added this to the page template. The service page is it's own template (Service Archive). Do you have a list of templates they'd want this block added to? Here's the full list:
<img width="197" alt="Screen Shot 2020-11-20 at 11 20 47 AM" src="https://user-images.githubusercontent.com/8126358/99835888-7f539a80-2b22-11eb-8f03-a4978135f683.png">

[2020-11-20 18:24] justinvandenberg commented on #360
@haleyjohnso LOE: 0.5 hours. I can tackle this today if you'd like?

[2020-11-22 23:36] haleyjohnso commented on #360
Great! I updated the Trello card. I think just based on the priority, you can tackle this after #355 and #356

[2020-11-23 21:20] rainswerld opened #362 "Very small, but NPM repo link is broken in the ReadMe"
### Overview

- **Level of urgency:** Low
- **Potential deadline:** None
- **Harvest task:** National Public Media [NPM] > [01] Redesign & Support

### Details

Provide a brief summary and any relevant details of the bug below. Once you're done, it will be automatically assigned to @ten1seven.

**Expected Behavior**

I was hoping to explore what the NPM repo was that was included in the ReadMe, wh